<div style="display: flex; flex-direction: column; margin: 0 auto; width: 50%;">
  <mat-form-field appearance="fill">
    <mat-label>Título</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Diretor</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Gênero</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Sinopse</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Ano</mat-label>
    <input matInput>
  </mat-form-field>

  <button mat-raised-button
    color="primary"
    (click)="save()">
    Salvar
  </button>
</div>